<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="connectionString" value="Data Source=C:\inetpub\wwwroot\tesis\Animus\Animus\DataBase\Dbanimus.db;Version=3;" />
    <add key="nameDataBase" value="C:\inetpub\wwwroot\tesis\Animus\Animus\DataBase\Dbanimus.db"></add>
    <add key="pathImage" value="C:\inetpub\wwwroot\tesis\Animus\Animus\Images\Application\"></add>
    <add key="imageDefault" value="House.jpg"></add>

    <!--<add key="urlEmailValidate" value="http://localhost:1111/animus-rest-test/?method=home/validate-email&amp;exists=true"></add>-->


    <!-- validar si el correo existe-->
    <add key="urlEmailValidate" value="https://animus-dev-205301.appspot.com/api/home/validate-password"></add>


    <!-- <add key="urlRegisterHome" value="http://localhost:1111/animus-rest-test/?method=home"></add>-->

    <!-- registrar hogar-->
    <add key="urlRegisterHome" value="https://animus-dev-205301.appspot.com/api/home"></add>

    <!-- validar email y password -->
    <add key="urlValidateAuth" value="https://animus-dev-205301.appspot.com/api/auth"></add>

    <!-- renovar token -->
    <add key="urlRenewToken" value="https://animus-dev-205301.appspot.com/api/auth/renew"></add>

    <add key="timerConsumeToken" value="5000"></add>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>